$bg-main: #35363a; //#24292e;
$bg-accent: #202124; // #1f2428;
$bg-hover: #454649;
$accent-main: #b392f0;
$foreground-main: #e0edfa;
$foreground-shade: #5a6774;
$main-font: "Segoe UI";
$main-font-size: 14pt;
$shadow: 2px 2px 14px rgba(0, 0, 0, 0.49);

@mixin gridCenter {
    display: grid;
    place-items: center;
}
